<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://aobo.mgoogps.com:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://aobo.mgoogps.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>mgoo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>iZ94o0tb7nyZ\Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StrConnectionDataBaseName" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="YWData" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StrConnectionDataBaseName_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="YWData" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="connectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=10.24.167.72;Initial Catalog=YiwenGPS;User ID=sa;Password=mgoo2016;Max Pool Size=512" Name="Data Source=10.24.167.72;user=sa;password=mgoo2016;database=YiwenGPS;Max Pool Size = 512;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=120.76.152.131;Initial Catalog=YiwenGPS;User ID=sa;Password=mgoo2016;Max Pool Size=512" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\connectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=120.76.152.131;user=sa;password=mgoo2016;database=YiwenGPS;Max Pool Size = 512;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="YiwenGPSEntities" Order="4" Enabled="False">
          <Destination Path="Data Source=10.24.167.72;Initial Catalog=YiwenGPS;User ID=sa;Password=mgoo2016;Max Pool Size=512" Name="data source=10.24.167.72;initial catalog=YiwenGPS;user id=sa;password=mgoo2016;max pool size=512" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=120.76.152.131;Initial Catalog=YiwenGPS;User ID=sa;Password=mgoo2016;Max Pool Size=512;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\YiwenGPSEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MgooGpsModel.csdl|res://*/MgooGpsModel.ssdl|res://*/MgooGpsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=120.76.152.131;initial catalog=YiwenGPS;user id=sa;password=mgoo2016;max pool size=512;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)connectionString-Web.config Connection String">
      <ParameterValue>Data Source=10.24.167.72;user=sa;password=mgoo2016;database=YiwenGPS;Max Pool Size = 512;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StrConnectionDataBaseName-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)YiwenGPSEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MgooGpsModel.csdl|res://*/MgooGpsModel.ssdl|res://*/MgooGpsModel.msl;provider=System.Data.SqlClient;provider connection string="data source=10.24.167.72;initial catalog=YiwenGPS;user id=sa;password=mgoo2016;max pool size=512;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>