<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="POIServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mgoogps.com/Ajax/POIService.asmx" binding="basicHttpBinding" bindingConfiguration="POIServiceSoap" contract="POIService.POIServiceSoap" name="POIServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>