<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="POIServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mgoogps.com/Ajax/POIService.asmx"
                binding="basicHttpBinding" bindingConfiguration="POIServiceSoap"
                contract="POIService.POIServiceSoap" name="POIServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>